.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 10px;

  @media(max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
}

.itemIcon {
  display: flex;
  flex-shrink: 0;
}