.vote {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-20);
  margin-top: var(--app-spacing-40);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-40);
  padding-top: var(--app-spacing-40);
}

.formBody {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-40);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--app-spacing-40);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: var(--app-spacing-10);
  inline-size: inherit;

  @media (min-width: 1020px) {
    grid-column-start: 2;
  }
}
