.vote {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-20);
  margin-top: var(--app-spacing-40);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-40);
  padding-top: var(--app-spacing-40);
}

.formBody {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-40);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.radioItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--app-spacing-40);

  @media(max-width: 1020px) {
    grid-template-columns: 1fr;
  }
}

.input {
  border: 1px solid var(--app-text-color);
  border-radius: 16px;
  padding: var(--app-spacing-20);
  color: var(--app-text-color);
  font-size: var(--app-font-size-md);
  background-color: transparent;
}

.input:focus {
  border: 1px solid var(--app-accent-color);
  outline: none;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: var(--app-spacing-10);
  inline-size: inherit;

  @media (min-width: 1020px) {
    grid-column-start: 2;
  }
}

.inputText {
  border: 1px solid var(--app-text-color-dimmed);
  border-radius: 16px;
  padding: 4px 16px;
  color: #ffffff;
}