.input {
  border: 1px solid var(--app-text-color);
  border-radius: 16px;
  padding: var(--app-spacing-20);
  color: var(--app-text-color);
  font-family: var(--font-manrope-sans);
  font-size: var(--app-font-size-md);
  background-color: transparent;
}

.input:focus {
  border: 1px solid var(--app-accent-color);
  outline: none;
}