.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* min 20px max 60px */
  gap: clamp(1.25rem, 0.388rem + 4.31vw, 3.75rem);

  @media (max-width: 1400px) {
    /* flex-direction: column; */
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--app-spacing-20);
}

.image {
  filter: saturate(150%);
  transition: transform ease-in-out 0.7s;
  inline-size: inherit;
  block-size: auto;
}

.image:hover {
  transition: transform ease-in-out 0.7s;
  transform: scale(105%);
}
