:root {
  --app-bg-color: #141414;
  --app-text-color: #ffffff;
  --app-accent-color: #ff001d;
  --app-bg-color-gray: #1e1e1e;
  --app-outline-color: #282828;
  --app-text-color-dimmed: #ffffff7e;
  --app-spacing-10: clamp(0.25rem, 0.131rem + 0.633vw, 0.625rem);
  --app-spacing-20: clamp(0.625rem, 0.427rem + 1.055vw, 1.25rem);
  --app-spacing-40: clamp(1.25rem, 0.854rem + 2.11vw, 2.5rem);
  --app-spacing-60: clamp(3.75rem, 3.354rem + 2.11vw, 5rem);
  --app-spacing-80: clamp(2.5rem, 1.709rem + 4.219vw, 5rem);
  --app-font-size-md: clamp(1rem, 0.828rem + 0.862vw, 1.5rem);
  --app-font-size-sm: clamp(0.75rem, 0.671rem + 0.422vw, 1rem);
  --app-font-size-xs: clamp(0.563rem, 0.503rem + 0.316vw, 0.75rem);
}

body {
  font-family: var(--font-manrope-sans);
  line-height: normal;
  background-color: var(--app-bg-color);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-weight: normal;
  /* min 30px, max 64px */
  font-size: clamp(1.875rem, 1.142rem + 3.664vw, 4rem);
}

h2 {
  font-weight: normal;
  /* min 28px, max 52px */
  font-size: clamp(1.75rem, 1.233rem + 2.586vw, 3.25rem);
}

h3 {
  font-weight: normal;
  font-size: clamp(1.25rem, 0.934rem + 1.688vw, 2.25rem);
}

p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
  line-height: 1.4;
}

button {
  border: none;
  color: currentColor;
  line-height: inherit;
  background: none;
}

a {
  color: currentColor;
  line-height: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
  list-style: none;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  accent-color: var(--app-accent-color);
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: clamp(2.25rem, 1.38rem + 4.641vw, 5rem);
  /* minmax 10-40  minmax 0-40 */
  margin: clamp(0.625rem, 0.032rem + 3.165vw, 2.5rem)
    clamp(0rem, -0.791rem + 4.219vw, 2.5rem);
  color: var(--app-text-color);
  font-size: var(--app-font-size-md);
  inline-size: 1248px;
}
