.brandCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: clamp(0.625rem, 0.348rem + 1.477vw, 1.5rem);
  font-size: clamp(0.85rem, 0.644rem + 1.097vw, 1.5rem);
  background-color: var(--app-bg-color-gray);
  inline-size: inherit;
  /* minmax 80 - 160*/
  block-size: clamp(5rem, 3.418rem + 8.439vw, 10rem);
}

.icon {
  /* minmax 50 - 120*/
  max-inline-size: clamp(3.125rem, 1.741rem + 7.384vw, 7.5rem);
}