.brands {
  display: flex;
  flex-direction: column;
  gap: clamp(1.25rem, 1.171rem + 0.422vw, 1.5rem);
  margin-top: clamp(0.875rem, 0.677rem + 1.055vw, 1.5rem);
  max-inline-size: inherit;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  inline-size: 100%;
}

.title {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  inline-size: clamp(18.75rem, 10.839rem + 42.194vw, 43.75rem);
}

.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(7.5rem, 5.522rem + 10.549vw, 13.75rem), 1fr)
  );
  gap: 10px;
  padding: 0 10px;
  overflow: hidden;
  max-inline-size: inherit;
}
