.services {
  display: flex;
  flex-direction: column;
  gap: var(--app-block-spacing-40);
  inline-size: inherit;
}

.title {
  inline-size: inherit;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(16.25rem, 13.679rem + 13.713vw, 24.375rem), 1fr)
  );
  gap: 16px;
  padding: 0 10px;
}
