.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 628px) {
    justify-content: flex-end;
  }
}

.list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.item {
  display: flex;
  flex-shrink: 0;
  inline-size: fit-content;
}

.link {
  padding: 6px 0;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.accent {
  background-color: var(--app-accent-color);
}
