.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: transparent;
  border-radius: 32px;
  padding: 0 clamp(1.5rem, 0.293rem + 6.034vw, 5rem);
  inline-size: 100%;
  padding-bottom: clamp(3.75rem, 2.457rem + 6.466vw, 7.5rem);
}
