.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: inherit;
  block-size: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  border-bottom: var(--app-outline-color);
  inline-size: inherit;
  block-size: clamp(5rem, 3.707rem + 6.466vw, 8.75rem);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--app-block-spacing-40);
  min-inline-size: clamp(1rem, 0.397rem + 3.017vw, 2.75rem);
  max-inline-size: 660px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  inline-size: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-end;
  inline-size: 220px;

  @media (max-width: 1023px) {
    visibility: hidden;
    display: none;
  }
}

.phone {
  font-size: 24px;
}

.workSchedule {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  font-size: 12px;
  inline-size: fit-content;
}
